<div class="content">
                            
    <div class="text-section">
        <h2>1. Integrar o front-end (HTML)</h2>
        <h2>1. Crie um Contêiner para o Botão de Pagamento</h2>
        <p>Adicione um elemento <code>&lt;div&gt;</code> para abrigar o botão de pagamento
            VOIDpay. Este contêiner é onde o botão será renderizado.</p>

        <div class="example-code">
            <code>
    &lt;div id="void-button-container" buttonToken="SEU_TOKEN_DO_BOTAO_AQUI"&gt;&lt;/div&gt;
            </code>
        </div>

        <p>Substitua <code>SEU_TOKEN_DO_BOTAO_AQUI</code> pelo token do botão que você
            recebe do VOIDpay. Você pode obter este token no painel do VOIDpay.</p>

        <h2>2. Use o Token do Botão Correto</h2>        <p>Para garantir que o botão de pagamento esteja vinculado à sua conta específica do
            VOIDpay, siga estas etapas:</p>
        <ol>
            <li>
                <strong>Obtenha o Token do Botão:</strong>
                <ul>
                    <li>Acesse o painel do VOIDpay.</li>
                    <li>Navegue até a seção onde você pode gerar ou visualizar seus tokens
                        de botão.</li>
                    <li>Copie o token fornecido.</li>
                </ul>
            </li>
            <li>
                <strong>Insira o Token no Seu Código:</strong>
                Substitua <code>SEU_TOKEN_DO_BOTAO_AQUI</code> pelo token que você obteve.
            </li>
        </ol>

        <h2>3. Adicione o Script Necessário</h2>
        <p>Adicione a tag de script que carrega o SDK do VOIDpay. Este script é essencial
            para renderizar o botão de pagamento e lidar com as interações.</p>

        <div class="example-code">
            <code>
&lt;script src="http://localhost:3000/sdk/js?clientId=SEU_CLIENT_ID_AQUI&amp;mode=html&amp;deliveryinfo=false"&gt;&lt;/script&gt;
</code>
        </div>

        <p>Substitua <code>SEU_CLIENT_ID_AQUI</code> pelo seu ID de cliente real.</p>

        <ol>
            <li>
                <strong>Obtenha Seu ID de Cliente:</strong>
                <ul>
                    <li>Acesse o painel do VOIDpay.</li>
                    <li>Encontre a seção para credenciais da API</li>
                    <li>Copie o ID de cliente fornecido.</li>
                </ul>
            </li>
            <li>
                <strong>Insira o ID de Cliente no Seu Código:</strong>
                Substitua <code>SEU_CLIENT_ID_AQUI</code> pelo ID de cliente que você
                copiou.
            </li>
        </ol>
        <p>Atenção ao <code>mode=html</code>que é essencial para o funcinamento.</p>
        <p><code>deliveryinfo=true</code>Caso seja necessaria captura de informação de envio.</p>
        <p><code>deliveryinfo=false</code>Caso não seja necessaria captura de informação de envio.</p>


        <h2>4. Adicione um Parágrafo para Mensagens de Erro</h2>
        <p>Para ajudar na depuração, adicione um elemento <code>&lt;p&gt;</code> para exibir
            mensagens de erro. Isso ajudará a identificar problemas durante os testes.</p>

        <div class="example-code">
            <code>
&lt;p id="error-message"&gt;&lt;/p&gt;
</code>
        </div>
        <h2>5. Estrutura de Item de Produto</h2>
        <p>Para garantir que cada produto esteja corretamente formatado e apresentado,
            <strong>cada item de produto deve estar dentro de uma</strong> <code>div</code>
            com a classe <code>product-item</code>. Dentro desta <code>div</code>, cada
            informação do produto deve ter uma classe apropriada para garantir a
            consistência e a facilidade de estilização. As classes e suas prioridades são:
        </p>
        <ul>
            <li><code>img-item</code>: Para a imagem do produto</li>
            <li><code>name-item</code>: Para o nome do produto (prioridade alta)</li>
            <li><code>quantity-item</code>: Para a quantidade do produto(prioridade alta)
            </li>
            <li><code>price-item</code>: Para o preço do produto (prioridade alta)</li>
            <li><code>id-item</code>: Para o ID do produto</li>
            <li> o tipo de tag é irrelevante desde que tenham a respectiva class</li>

        </ul>
        <h2>6. Validação do Pagamento</h2>
        <p>Voltamos a recomendar fortemente que leia as politicas de pagamento. Após o
            pagamento para as integracao Html o proprietário do botão e cliente receberão um
            email de confirmação</p>
        <p> O proprietário do botão tem um prazo de até 4 horas para
            validar o pedido. A validação do pedido é essencial para que o processo de envio
            ou entrega seja iniciado. Se o proprietário do botão não validar o pedido dentro
            desse prazo, o valor pago será automaticamente reembolsado ao comprador.</p>


    </div>
    <div class="code-block">
        <pre><code style="background-color: transparent; background: none;
">
&lt;!DOCTYPE html&gt;
&lt;html lang="pt-br"&gt;
&lt;head&gt;
&lt;meta charset="UTF-8"&gt;
&lt;meta name="viewport" 
content="width=device-width"&gt;
&lt;title&gt;Exemplo de Botão&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;div class="product-item"&gt;
&lt;div&gt;
&lt;img class="image-item" style="width:45px;" 
src="..."  alt="Imagem do Produto"&gt;
&lt;/div&gt;
&lt;div class="name-item"&gt;Produto 5&lt;/div&gt;
&lt;div class="quantity-item"&gt;2&lt;/div&gt;
&lt;div class="price-item"&gt;2200&lt;/div&gt;
&lt;div class="id-item"&gt;005&lt;/div&gt;
&lt;/div&gt;


&lt;div id="void-button-container"
buttonToken="SEU_TOKEN_DO_BOTAO_AQUI"&gt;&lt;/div&gt;
&lt;p id="error-message"&gt;&lt;/p&gt;
&lt;!-- Substitua  seu client-id. --&gt;
&lt;script 
src="http://localhost:3000/sdk/js?clientId=SEU-CLIENT-ID"&gt;
&lt;/script&gt;


&lt;/script&gt;
&lt;/body&gt;
&lt;/html&gt; </code></pre>
    </div>
</div>