<!-- Sidebar - Brand -->
<a class="sidebar-brand d-flex align-items-center justify-content-center" href="/dashboard">
    <div class="sidebar-brand-icon rotate-n-15">

    </div>
    <img src="C:\Users\DELL\Desktop\sdk\void.png" alt="">
    <div class="sidebar-brand-text mx-3"><img style="width: 100px;"
            src="https://voidabinerjr.github.io/VOIDpayWebMVP2/img/voidwhitelogo.png" alt="">pay</div>
</a>

<!-- Divider -->
<hr class="sidebar-divider my-0">

<!-- Nav Item - Dashboard -->
<li class="nav-item active">
    <a class="nav-link" href="/dashboard">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Dashboard</span></a>
</li>
<li class="nav-item active">
    <a class="nav-link" href="/inicio">
        <i class="fas fa-fw fa-hourglass-start"></i>
        <span>Começar</span></a>
</li>

<!-- Divider -->
<hr class="sidebar-divider">

<!-- Nav Item - Dashboard -->
<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
        aria-controls="collapseTwo">
        <i class="fas fa-fw fa-credit-card"></i>
        <span>Integração</span>
    </a>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Integração</h6>
            <a class="collapse-item" href="/integracao">Simples</a>
            <a class="collapse-item" href="/notfound">Avançado</a>
            <a class="collapse-item" href="/shopifyint">Shopify</a>
            <a class="collapse-item" href="/notfound">WooCommerce</a>
            <a class="collapse-item" href="/notfound">Wix</a>
        </div>
    </div>
</li>
<li class="nav-item active">
    <a class="nav-link" href="http://localhost:3000/sdk/test">

        <i class="fa fa-cogs" aria-hidden="true"></i>
        <span>Personalizar Checkout</span></a>
</li>
<li class="nav-item active">
    <a class="nav-link" href="/app">

        <i class="fa fa-cogs" aria-hidden="true"></i>
        <span>App/Credenciais + Botões</span></a>
</li>
<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
        aria-controls="collapseTwo">
        <i class="fa fa-cogs" aria-hidden="true"></i>
        <span>App/Credenc + Botões</span>
    </a>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">App/Credenciais + Botões</h6>

            <a class="collapse-item" href="/app">App/Credenciais + Botões</a>
            <a class="collapse-item" href="/shopifyapp">Shopify</a>
            <a class="collapse-item" href="/notfound">WooCommerce</a>
            <a class="collapse-item" href="/notfound">Wix</a>
        </div>
    </div>
</li>
<!-- Divider -->
<hr class="sidebar-divider">
<li class="nav-item active">
    <a class="nav-link" href="/carteira">

        <i class="fas fa-money-bill-wave" aria-hidden="true"></i>

        <span>Carteira - Saques</span></a>
</li>

<li class="nav-item active">
    <a class="nav-link" href="/analises">
        <i class="fas fa-chart-line" aria-hidden="true"></i>
        <span>Analises</span></a>
</li>
<li class="nav-item active">
    <a class="nav-link" href="/marketing">

        <i class="fas fa-shopping-cart" aria-hidden="true"></i>

        <span>Marketing</span></a>
</li>

<li class="nav-item active">
    <a class="nav-link" href="/reembolsos">

        <i class="fas fa-undo-alt" aria-hidden="true"></i>

        <span>Reembolsos</span></a>
</li>
<!-- Divider -->
<hr class="sidebar-divider">
<li class="nav-item">
    <a class="nav-link" href="/privacy">
        <i class=" fas fa-fw  fa-solid fa-lock"></i>
        <span>Privacidade</span></a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/legal">
        <i class="fas fa-fw fa-file-contract"></i>
        <span>Termos e Codicoes</span></a>
</li>
<!-- Divider -->
<hr class="sidebar-divider">
<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true"
        aria-controls="collapsePages">
        <i class="fas fa-fw fa-cog"></i>
        <span>Configurações</span>
    </a>
    <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Configurações:</h6>
            <a class="collapse-item" href="/configuracoes">Geral</a>
            <a class="collapse-item" href="/notfound">E-mails transacionais</a>
            <a class="collapse-item" href="/assinatura">Planos e assinatura</a>
            <a class="collapse-item" href="/notfound">Segurança</a>
        </div>
    </div>
</li>

<!-- Divider -->
<hr class="sidebar-divider">




<!-- Sidebar Toggler (Sidebar) -->
<div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
</div>

<!-- Sidebar Message -->