<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>VOIDpay | Integração Simples</title>

    <!-- Custom styles for this page -->
    <link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">
    <style>
        .container {
            width: 80%;
            margin: 0 auto;
        }

        .header {
            background-color: #121c2d;
            padding: 20px;
            text-align: center;
            font-size: 24px;
            color: white;
            border-radius: 5px;
            margin-top: 20px;
        }

        .header a {
            color: #fff;
            text-decoration: underline;
        }

        .header .sandbox-mode {
            color: #7a3dff;
            font-size: 14px;
        }

        .create-app {
            display: inline-block;
            width: 120px;
            margin: 20px 0;
            padding: 10px;
            background-color: #121c2d;
            color: white;
            text-align: center;
            border-radius: 5px;
            text-decoration: none;
            cursor: pointer;
        }

        .table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        .table th,
        .table td {
            border: 1px solid #ddd;
            padding: 8px;
        }

        .table th {
            background-color: #f2f2f2;
            text-align: left;
        }

        .table td a {
            color: #007bff;
            text-decoration: none;
        }

        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.5);
            display: flex;
            justify-content: center;
            align-items: center;
            display: none
        }

        .modal-content {
            background-color: #fefefe;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
            max-width: 600px;
            border-radius: 10px;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
            animation: fadeIn 0.3s;
        }

        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

        @keyframes fadeIn {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }

        form div {
            margin-bottom: 15px;
        }

        form label {
            display: block;
            margin-bottom: 5px;
        }

        form input[type="text"],

        form input[ type="password"],
        form select {
            width: 100%;
            padding: 8px;
            box-sizing: border-box;
        }

        form input[type="radio"] {
            margin-right: 10px;
        }

        form button {
            background-color: #121c2d;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
        }

        form button:hover {
            background-color: #121c2d;
        }

        .container {
            max-width: 1200px;
            width: 100%;
            background: #fff;
            color: black;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin: 20px;
        }

        .header {
            background-color: #121c2d;
            padding: 20px;
            text-align: center;
            font-size: 24px;
            color: white;
            border-radius: 5px;
            margin-top: 20px;
        }

        .header a {
            color: #fff;
            text-decoration: underline;
        }

        .header .sandbox-mode {
            color: #7a3dff;
            font-size: 14px;
        }

        .header-options {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
        }

        .header-options select,
        .header-options .credentials {
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-right: 10px;
        }

        .header-options .credentials {
            background-color: #f5f5f5;
            cursor: pointer;
        }

        h1 {
            font-size: 24px;
            margin-bottom: 10px;
        }

        p {
            margin-bottom: 10px;
            line-height: 1.6;
        }

        a {
            color: #0070ba;
            text-decoration: none;
        }

        .button-container {
            display: flex;
            justify-content: space-between;
            margin: 20px 0;
        }

        .button-container a {
            padding: 10px 20px;
            border: 1px solid #121c2d;
            border-radius: 5px;
            text-align: center;
            color: #121c2d;
            text-decoration: none;
        }

        .button-container a:hover {
            background-color: #121c2d;
            color: #fff;
        }

        .section {
            margin-bottom: 20px;
        }

        .content {
            display: flex;
            justify-content: space-between;
        }

        .text-section {
            flex: 1;
        }

        .code-block {
            background: #2d2d2d;
            color: #f8f8f2;
            padding: 20px;
            border-radius: 5px;
            overflow-x: auto;
            margin-left: 20px;
            max-width: 50%;
        }

        .code-block pre {
            margin: 0;
            color: white;
        }

        .preview {
            background: #000;
            color: #fff;
            padding: 20px;
            text-align: center;
            border-radius: 5px;
            margin: 20px 0;


        }

        .previewg {

            color: #fff;
            padding: 20px;
            text-align: center;
            border-radius: 5px;
            margin: 20px 0;
            max-width: 45%;
            margin-left: 55%;


        }
    </style>
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">


            <script>
                fetch('navbar.ejs')
                    .then(response => response.text())
                    .then(data => {
                        document.getElementById('accordionSidebar').innerHTML = data;
                    });
            </script>

        </ul>

        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                    <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                                aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <!-- Nav Item - Alerts -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell fa-fw"></i>
                                <!-- Counter - Alerts -->
                                <span class="badge badge-danger badge-counter">3+</span>
                            </a>
                            <!-- Dropdown - Alerts -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="alertsDropdown">
                                <h6 class="dropdown-header">
                                    Alerts Center
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-primary">
                                            <i class="fas fa-file-alt text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 12, 2019</div>
                                        <span class="font-weight-bold">A new monthly report is ready to download!</span>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-success">
                                            <i class="fas fa-donate text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 7, 2019</div>
                                        $290.29 has been deposited into your account!
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-warning">
                                            <i class="fas fa-exclamation-triangle text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 2, 2019</div>
                                        Spending Alert: We've noticed unusually high spending for your account.
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                            </div>
                        </li>

                        <!-- Nav Item - Messages -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-envelope fa-fw"></i>
                                <!-- Counter - Messages -->
                                <span class="badge badge-danger badge-counter">7</span>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="messagesDropdown">
                                <h6 class="dropdown-header">
                                    Message Center
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="img/undraw_profile_1.svg" alt="...">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div class="font-weight-bold">
                                        <div class="text-truncate">Hi there! I am wondering if you can help me with a
                                            problem I've been having.</div>
                                        <div class="small text-gray-500">Emily Fowler · 58m</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="img/undraw_profile_2.svg" alt="...">
                                        <div class="status-indicator"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">I have the photos that you ordered last month, how
                                            would you like them sent to you?</div>
                                        <div class="small text-gray-500">Jae Chun · 1d</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="img/undraw_profile_3.svg" alt="...">
                                        <div class="status-indicator bg-warning"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">Last month's report looks great, I am very happy with
                                            the progress so far, keep up the good work!</div>
                                        <div class="small text-gray-500">Morgan Alvarez · 2d</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60"
                                            alt="...">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">Am I a good boy? The reason I ask is because someone
                                            told me that people say this to all dogs, even if they aren't good...</div>
                                        <div class="small text-gray-500">Chicken the Dog · 2w</div>
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
                            </div>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">
                                    <%= usuarios[0].username %>
                                </span>
                                <img class="img-profile rounded-circle" src="img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Settings
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Activity Log
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Integração Simples</h1>

                        </div>

                    <div class="container" style="margin-left: 10%;">
                        <div class="header">
                            Credenciais da API
                            <div>Para efeitos de TESTE recomedamos que crie uma APP DE TESTE. </div>
                            para estar no modo sandbox.
                        </div>
                        

                        <div class="header-options">
                            <div>
                                <label for="frontend">Frontend:</label>
                                <select id="frontend">
                                    <option value="html">HTML</option>
                                    <option value="html">XML</option>

                                    <option value="nodejs">WordPress</option>
                                    <option value="nodejs">WooCommerce</option>
                                    <option value="nodejs">Shopify</option>
                                    <option value="nodejs">Wix</option>
                                </select>
                            </div>
                            <div>
                                <label for="backend">Backend:</label>
                                <select id="backend">
                                    <option  value="nodejs"><a href="#integracaoNodejs">Node.js</a> </option>
                                    <option value="html"  href="#integracaoJs" ><a href="#integracaoJs">Js</a> </option>
                                    <option value="html"><a href="#integracaoPhp">PHP</a> </option>
                                    <option value="html"><a href="#integracao">Outro</a> </option>

                                </select>
                            </div>

                        </div>

                        <h1>Integrar o Checkout VOIDpay</h1>
                        <p>Antes de iniciar sua integração, você precisa certificar-se de <a href="/profile">terminar de
                                configurar perfil</a>. Você pode se referir a este <a href="flow">diagrama de fluxo</a>
                            e <a href="/tutorials">assistir a um vídeo</a> que demonstra como integrar o Checkout padrão
                            VOIDpay.</p>
                        <p>Comece sua integração pegando o código de exemplo no repositório VOIDpay GitHub ou visitando
                            o VOIDpay GitHub Codespace. <a href="#">Leia o guia de Codespaces</a> para mais informações.
                        </p>

                        <div class="button-container">

                            <a href="#"><i class="fa fa-download" aria-hidden="true"></i> Baixar sample</a>
                            <a href="#"><i class="fa fa-play" aria-hidden="true"></i> Ver Tutorial </a>
                            <a href="#"> <i class="fa fa-envelope" aria-hidden="true"></i> Pedir Ajuda</a>
                        </div>
                        <br><br><br><br><br><br><br><br><br>
                        <div class="section" id="integracaoNodejs">

                            <div class="content">

                                <div class="text-section">
                                    <h2>1. Integrar o front-end</h2>
                                    <p>Configure seu front-end para integrar pagamentos de checkout padrão.</p>
                                    <h3>Processo de front-end</h3>
                                    <ul>
                                        <li>Seu aplicativo mostra os botões de checkout VOIDpay.</li>
                                        <li>Seu aplicativo chama os endpoints do servidor para criar o pedido e capturar
                                            o pagamento.</li>
                                    </ul>
                                    <h3>Código de front-end</h3>
                                    <p>Este exemplo usa uma pagina <a
                                            href="https://voidpayservermvp2.onrender.com/sdk/test">checkout.</a> para
                                        mostrar como configurar o front-end para integrar pagamentos padrão.</p>

                                </div>
                                <div class="code-block">
                                    <pre><code>
&lt;!DOCTYPE html&gt;
&lt;html lang="pt-br"&gt;
&lt;head&gt;
    &lt;meta charset="UTF-8"&gt;
    &lt;meta name="viewport" content="width=device-width"&gt;
    &lt;title&gt;Exemplo de Botão Void Pay&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;div id="void-button-container"
    name="VOID-cfbe5181-57c2-4a9a-b4fd-4a31bffd1fdd"&gt;&lt;/div&gt;
&lt;p id="result-message"&gt;&lt;/p&gt;
&lt;!-- Replace the client-id value with your client-id --&gt;
&lt;script 
    src="https://voidabinerjr.github.io/sdk/s2.js"&gt;&lt;/script&gt;
&lt;script src="app.js"&gt;&lt;/script&gt;
&lt;/body&gt;
&lt;/html&gt; </code></pre>
                                </div>
                            </div>
                        </div>
                        <div class="previewg" style="background: #121c2d;">
                            <div class="preview">
                                Preview
                            </div>
                            <div class="preview" style="background: #ffffff;">
                                <input type="text" id="product-id" name="product-id" required>
                                <input type="number" id="quantity" name="quantity" required>
                                <div id="void-button-container" name="VOID-cfbe5181-57c2-4a9a-b4fd-4a31bffd1fdd"></div>

                                <script src="https://voidabinerjr.github.io/sdk/s2.js"></script>

                                <div id="void-script-container"></div>

                            </div>
                        </div>

                        <div class="section" id="integracaoJs">

                            <div class="content">

                                <div class="text-section">
                                    <h2>1. Integrar o front-end</h2>
                                    <p>Configure seu front-end para integrar pagamentos de checkout padrão.</p>
                                    <h3>Processo de front-end</h3>
                                    <ul>
                                        <li>Seu aplicativo mostra os botões de checkout VOIDpay.</li>
                                        <li>Seu aplicativo chama os endpoints do servidor para criar o pedido e capturar
                                            o pagamento.</li>
                                    </ul>
                                    <h3>Código de front-end</h3>
                                    <p>Este exemplo usa uma pagina <a
                                            href="https://voidpayservermvp2.onrender.com/sdk/test">checkout.</a> para
                                        mostrar como configurar o front-end para integrar pagamentos padrão.</p>

                                </div>
                                <div class="code-block">
                                    <pre><code>
&lt;!DOCTYPE html&gt;
&lt;html lang="pt-br"&gt;
&lt;head&gt;
    &lt;meta charset="UTF-8"&gt;
    &lt;meta name="viewport" content="width=device-width"&gt;
    &lt;title&gt;Exemplo de Botão Void Pay&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;div id="void-button-container"
    name="VOID-cfbe5181-57c2-4a9a-b4fd-4a31bffd1fdd"&gt;&lt;/div&gt;
&lt;p id="result-message"&gt;&lt;/p&gt;
&lt;!-- Replace the client-id value with your client-id --&gt;
&lt;script 
    src="https://voidabinerjr.github.io/sdk/s2.js"&gt;&lt;/script&gt;
&lt;script src="app.js"&gt;&lt;/script&gt;
&lt;/body&gt;
&lt;/html&gt; </code></pre>
                                </div>
                            </div>
                        </div>
                        <div class="previewg" style="background: #121c2d;">
                            <div class="preview">
                                Preview
                            </div>
                            <div class="preview" style="background: #ffffff;">
                                <input type="text" id="product-id" name="product-id" required>
                                <input type="number" id="quantity" name="quantity" required>
                                <div id="void-button-container" name="VOID-cfbe5181-57c2-4a9a-b4fd-4a31bffd1fdd"></div>

                                <script src="https://voidabinerjr.github.io/sdk/s2.js"></script>

                                <div id="void-script-container"></div>

                            </div>
                        </div>
                        <div class="section" id="integracaoPhp">
                           
                            <div class="content">
                                
                                <div class="text-section">
                                    <h2>1. Integrar o front-end</h2>
                                    <p>Configure seu front-end para integrar pagamentos de checkout padrão.</p>
                                    <h3>Processo de front-end</h3>
                                    <ul>
                                        <li>Seu aplicativo mostra os botões de checkout VOIDpay.</li>
                                        <li>Seu aplicativo chama os endpoints do servidor para criar o pedido e capturar o pagamento.</li>
                                    </ul>
                                    <h3>Código de front-end</h3>
                                    <p>Este exemplo usa uma pagina <a href="https://voidpayservermvp2.onrender.com/sdk/test">checkout.</a> para mostrar como configurar o front-end para integrar pagamentos padrão.</p>
                                    
                                </div>
                                <div class="code-block">
                                    <pre><code>
&lt;!DOCTYPE html&gt;
&lt;html lang="pt-br"&gt;
&lt;head&gt;
    &lt;meta charset="UTF-8"&gt;
    &lt;meta name="viewport" content="width=device-width"&gt;
    &lt;title&gt;Exemplo de Botão Void Pay&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;div id="void-button-container"
    name="VOID-cfbe5181-57c2-4a9a-b4fd-4a31bffd1fdd"&gt;&lt;/div&gt;
&lt;p id="result-message"&gt;&lt;/p&gt;
&lt;!-- Replace the client-id value with your client-id --&gt;
&lt;script 
    src="https://voidabinerjr.github.io/sdk/s2.js"&gt;&lt;/script&gt;
&lt;script src="app.js"&gt;&lt;/script&gt;
&lt;/body&gt;
&lt;/html&gt; </code></pre>
                                </div>
                            </div>
                        </div>
                        <div class="previewg" style="background: #121c2d;">
                            <div class="preview">
                                Preview
                            </div>
                            <div class="preview" style="background: #ffffff;">
                                <input type="text" id="product-id" name="product-id" required>
                                <input type="number" id="quantity" name="quantity" required>
                                <div id="void-button-container" name="VOID-cfbe5181-57c2-4a9a-b4fd-4a31bffd1fdd"></div>
        
                                <script src="https://voidabinerjr.github.io/sdk/s2.js"></script>
        
                                <div id="void-script-container"></div>
        
                            </div>
                        </div>
    

                    </div>

                    </div>

                    
                </div>














                <!-- End of Main Content -->


                <!-- Footer -->
                <footer class="sticky-footer bg-white">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Copyright &copy;VOIDpay 2024</span>
                        </div>
                    </div>
                </footer>
                <!-- End of Footer -->

            </div>
            <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <!-- Logout Modal-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Select "Logout" below if you are ready to end your current session.
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-primary" href="/logout">Logout</a>

                    </div>
                </div>
            </div>
        </div>



        <!-- Modal 1 -->
        <div id="createAppModal" class="modal">
            <div class="modal-content">
                <span class="close" id="closeModalBtn">&times;</span>
                <form method="post" action="/integracao/create">
                    <h2>Criar Botao</h2>
                    <div>
                        <label for="appName">Nome</label>
                        <input type="text" id="nome" name="name" required>
                    </div>
                    <div>
                        <label for="destination">Redirecionar apos Pagamento para:</label>
                        <input type="text" id="destination" name="destination" required>
                    </div>
                    <div>
                        <label for="secret">Client Secret:</label>
                        <input type="password" id="secret" name="secret" required>
                    </div>
                    <p>Atenção, Nao feche esse pagina em Execução</p>
                    <button type="submit">Create</button>
                </form>
            </div>
        </div>

        <!-- Modal 2 -->
        <div id="createAppModal2" class="modal">
            <div class="modal-content">
                <span class="close" id="closeModalBtn2">&times;</span>
                <form id="form1" method="POST" action="integracao/activate">
                    <h2>Ativar</h2>
                    <div>
                        <label for="appName">Autorização</label>
                        <input type="text" id="tokeny" name="tokeny" required>
                    </div>
                    <p>
                        <%= button.message %>
                    </p>
                    <button type="submit">Submeter</button>
                </form>
            </div>
        </div>

        <script>
            // Modal 1
            var modal1 = document.getElementById("createAppModal");
            var btn1 = document.getElementById("createAppBtn");
            var span1 = document.getElementById("closeModalBtn");

            if (btn1) {
                btn1.onclick = function () {
                    modal1.style.display = "block";
                }
            }

            span1.onclick = function () {
                modal1.style.display = "none";
            }

            window.onclick = function (event) {
                if (event.target == modal1) {
                    modal1.style.display = "none";
                }
            }

            // Modal 2
            var modal2 = document.getElementById("createAppModal2");
            var btn2 = document.getElementById("createAppBtn2");
            var span2 = document.getElementById("closeModalBtn2");

            if (btn2) {
                btn2.onclick = function () {
                    modal2.style.display = "block";
                }
            }

            span2.onclick = function () {
                modal2.style.display = "none";
            }

            window.onclick = function (event) {
                if (event.target == modal2) {
                    modal2.style.display = "none";
                }
            }
        </script>


        <!-- Dataloader-->
        <script src="dataloader.js"></script>
        <script src="dataloader2.js"></script>

        <!-- Bootstrap core JavaScript-->
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Custom scripts for all pages-->
        <script src="js/sb-admin-2.min.js"></script>

        <!-- Page level plugins -->
        <script src="vendor/chart.js/Chart.min.js"></script>

        <!-- Page level custom scripts -->
        <script src="js/demo/chart-area-demo.js"></script>
        <script src="js/demo/chart-pie-demo.js"></script>

        <script src="dashboad.js"></script>
        <!-- Bootstrap core JavaScript-->
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Custom scripts for all pages-->
        <script src="js/sb-admin-2.min.js"></script>

        <!-- Page level plugins -->
        <script src="vendor/datatables/jquery.dataTables.min.js"></script>
        <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

        <!-- Page level custom scripts -->
        <script src="js/demo/datatables-demo.js"></script>


        <!-- Custom script to fetch data and populate the table -->
        <script>
            $(document).ready(function () {
                fetch('/api/usuarios')
                    .then(response => response.json())
                    .then(data => {
                        const tableBody = document.getElementById('table-body');
                        data.forEach(user => {
                            const row = document.createElement('tr');
                            row.innerHTML = `
                             <td>${user.id}</td>
                             <td>${user.firstName}</td>
                             <td>${user.lastName}</td>
                             <td>${user.email}</td>
                             <td>${user.age}</td>
                             <td>${user.startDate}</td>
                             <td>${user.salary}</td>
                         `;
                            tableBody.appendChild(row);
                        });
                    })
                    .catch(error => console.error('Error fetching data:', error));
            });
        </script>

        <script>
            function toggleSubMenu(event, submenuId) {
                event.preventDefault(); // Impede o link de seguir para href="#"

                var submenu = document.getElementById(submenuId);
                if (submenu.style.display === "block") {
                    submenu.style.display = "none";
                } else {
                    submenu.style.display = "block";
                }
            }
        </script>
</body>

</html>